.icon-logo{
	width:25px;
	height:25px;
}

.page{
	width:970px;
}

.page1{
	background-color:#dadada;
}

.name-block{
	margin-top: 10%;
	font-family: 'Lato-Light', sans-serif;
}

.qual-block{
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	font-family: 'Lato', sans-serif;
	padding:5px 0px;
}

.intro{
	
}

.full-name {
	font-size: 5em;
	/* border-bottom: 2px solid #000; */
	
}

.expertise-list{
	margin: 10px auto;
	font-size: 2.5em;
	font-family: 'Lato-Light', sans-serif;
}

.network-links-list{
	margin: 20px auto;
}

.tech span {
	display: inline-block;
	background-color: #A2A2A2;
	border-radius: 5px;
	margin: 2px 5px;
	padding: 4px 5px;
	font-size: 12px;
	line-height: 16px;
	color:#fff;
}

.exp-desc {
	font-size:21px !important;
}

.tech span{font-family:"Georgia",Times New Roman,Times,serif !important}