.introduction{
	font-size:500%;
	font-family: 'Lato-light', sans-serif;
	border-bottom:1px solid #d0d0d0;
}

.tagline{
	font-size:400%;
	font-family: 'Lato-light', sans-serif;
	color:#8982B4;
}

.tbl-keywords{
	margin:auto;
	border-bottom:1px solid #d0d0d0;
}

.tbl-keywords .keyword{
	padding:5px 10px;
	margin:20px 5px;
	background-color:#909090;
	color:white;
	border-radius:5px;
}

.tbl-connections{
	margin:auto;
}

.tbl-connections  a{
	text-decoration:underline;
	color:black !important;
	display:inline-block;
	width:100%;
	height:100%;
}


.tbl-connections td:hover{
	background-color:#EBEBEB;
}

.tbl-connections .connection{
	margin:10px 15px;
	text-align:center;
}

.tbl-connections img{
	width:25px;
}

.email{
	border-right:1px solid #909090;
	border-left:1px solid #909090;
	padding:0px 20px;
}

.email img{
	width:50px;
}

.connection-xs img{
	width:25px;
}

.block-connections .xs .connection-xs{
	margin:1px auto;
	width:230px;
}

.block-connections .xs span.inb{
	width:50px;
}

.block-connections .xs a{
	display:inline-block;
	width:100%;
	padding:10px 5px;
	background-color:#F7F7F7;
}

.block-connections .xs a:hover{
	background-color: #55D49C;
	color: white;
	text-decoration: none;
}

.block-qualitifaction{
	margin:10px auto;
	width:300px;
	font-size:1.2em;
	color:#b0b0b0;
	border-top:1px solid #dadada;
	padding:5px 0px;
}