.row{
	margin-left:0px !important;
	margin-right:0px !important;
}

.grid-col{
	padding:0px;
}


.ux,.prototyping,.design,.development,.tools{
	border-bottom: 1px solid #5E88B6;
	overflow:auto;
}

.key{
	font-size:1.5em;
	font-family: 'Lato-light', sans-serif;
	background-color: rgb(74, 147, 255);
	color:white;
	padding:5px 0px;
	/* border-radius:5px; */
	margin-top:5px;
}

.key-desc{
	text-align:justify;
	padding:5px 15px 0px 10px;
}

.heading{
	border-bottom: 1px solid #dadada;
	padding:5px;
	overflow:auto;
	background-color:#eaeaea;
}

.skill{
	margin-top:5px;
	border-radius:5px;
	border:1px solid #dadada;
	margin:5px;
}


.skill .name{
	font-size: 2em;
	padding: 10px 0px 5px 0px;
	text-align:center;
}


.skill .description{
	font-size: 1.4em;
	/* font-weight: bold; */
	padding: 5px 20px 10px 20px;
	font-family: 'Lato-light', sans-serif;
	color: #4E4E4E;
}

.overall-summary {
    color: #8982B4;
    font-size: 1.5em;
}

.skill:hover {
	background-color: #F7F9FC;
	border-color: #B7C4CC;
	cursor:pointer;
}
.skill:hover .name {
	/* color: #93A4D1; */
	color:#8982B4;
}