<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/frameworks/bootstrap.min.css">
	<link href="css/frameworks/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="css/frameworks/bootstrap-responsive.min.css"> -->

	<!-- Sitewide common CSS stylesheet -->
	<link rel="stylesheet" href="css/common.css">

	<!-- CSS specific to this page -->
	<link rel="stylesheet" href="css/experience.css">
	
	<!-- Moving the utils stylesheet to the bottom -->
	<link rel="stylesheet" href="css/utils.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
		
	<style>
		body{
			position: relative;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		
	</style>
		
	</head>
	
	<body>
		<!--[if lt IE 7]>
				<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="" class="navbar-brand">
					<!--<span>
						<img class="icon-logo mt" src="images/logo.png" alt="" />
					</span>-->
					<span>Ryan Sukale</span>
				</a>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="../getting-started">Experience</a>
					</li>
					<li>
						<a href="../css">Projects</a>
					</li>
					<li>
						<a href="../components">Skills</a>
					</li>
				</ul>
				
				<div class="pull-right mt-10">
					<a class="btn btn-default" href="box.com/resume">
						<span>Resume</span>
						<span class="glyphicon glyphicon-cloud-download"></span>
					</a>
				</div>
			</nav>
		</div>
	</header>
		
	<div class="container">
		
		<div class="overall-summary row mt-10">
			<div class="col-xs-12 col-sm-6 c total-exp">Total Experience : ~4 years (2008-2012)</div>
			<div class="col-xs-12 col-sm-6 c current-status">Current : MS in HCI (May 2014 Graduate)</div>
		</div>
		
		<!-- Start: job details -->
		<div class="job-details">
		
		</div>
		<!-- End: job details -->
		
	</div>
	<!-- /container -->

	</body>
	
	
	<script src="js/frameworks/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<!-- Unminified Scripts for Dev version -->
	
	<script src="js/frameworks/jquery-1.9.1.min.js"></script>
	<script src="js/frameworks/require.js"></script>
	<script src="js/frameworks/vendor/bootstrap.js"></script>
	<script src="js/frameworks/jquery-ui-1.10.0.custom.js"></script>
	<script src="js/frameworks/json2.js"></script>
	<script src="js/frameworks/underscore.js"></script>
	<script src="js/frameworks/backbone.js"></script>
	<!-- ---------------------------------- -->
	
	<!-- Minified Scripts for Production version  -->
	
	<!--
	<script src="js/frameworks/vendor/require.js"></script>
	<script src="js/frameworks/vendor/bootstrap.min.js"></script>
	<script src="js/frameworks/jquery-ui-1.10.0.custom.min.js"></script>
	<script src="js/frameworks/json2.js"></script>
	<script src="js/frameworks/underscore.min.js"></script>
	<script src="js/frameworks/backbone.min.js"></script>
	-->
	
	<!-- Script specific to this page -->
	<script src="js/experience.js"></script>
	
	<script type="text/template" id="_tmplJobRow">
		<div class="row job mb-20">
			<div class="col-md-3 org-details">
				<div class="role pt-5 pb-5 c">
					<%= role%>
				</div>
				<div class="org-name pt-10 pb-10 c">
					<%= displayName%>
				</div>
				<div class="duration">
					<div class="start"><%= startDateDisplay %></div>
					<div class="separator c">-</div>
					<div class="end"><%= endDateDisplay %></div>
				</div>
			</div>
			<div class="col-md-9 role-details">
				<div class="summary mt-10">
					<%= summary %>
				</div>
				<div class="team-details">
					<span class="heading">Team :</span>
					<span class="team-name"><%= team %></span>
				</div>
				<div class="tags">
					<ul class="list-unstyled">
						<% _.each(keywords,function(element, index, list){ %>
						
							<li><%= element %></li>
							
						<% }); %>
					</ul>
				</div>
			</div>
		</div>
		
	</script>
	
</html>