body {
  background: #F9F9F9;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar.navbar-inverse {
  box-shadow: 1px 0px 5px 2px #EFEFEF;
}

.navbar-inverse .navbar-nav>li>a {
  color: #665 !important ;
  letter-spacing: 1px;
  font-size: 15px;
}

.navbar-brand span {
  font-weight: bold;
  letter-spacing: 1px;
  color: #444;
}

.navbar-brand {
  border-right: 2px solid #fff;
  padding: 15px 5px;
}

.navbar {
  background-color: #fff;
  border: none;
  border-bottom-width: 1px;
}

.navbar a {
  color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #EAEAEA !important;
}

.love {
  color: #EA647B;
}

.navbar .active>a {
  background-color: #EAEAEA !important;
}


a.resume {
  background-color: #FFF;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 2px;
  color: #5287BD !important;
  font-size: 15px;
}

a.resume:hover {
  background-color: #fff !important;
}
