.navbar-inverse .navbar-nav>li>a {
  color: rgb(250, 213, 116);
  letter-spacing: 1px;
}

.navbar-brand span {
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-brand {
  border-right: 2px solid #fff;
}

.navbar {
  background-color: #5287BD;
  border-color: #C3D2E8;
  border-bottom-width: 4px;
}

.navbar a {
  color: #fff !important;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #6E6E6E !important;
}

.love {
  color: #EA647B;
}

.navbar .active>a {
  background-color: #6E6E6E !important;
}


a.resume {
  background-color: #FFF;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 2px;
  color: #5287BD !important;
}

a.resume:hover {
  background-color: #fff !important;
}
