.introduction{
	font-size:500%;
	color: #777777;
	margin-top: 15px;
}

.tagline{
	font-size:400%;
	color:#8982B4;
}

.block-keywords .block-title {
	color: #898989;
}

.block-keywords .keyword {
	letter-spacing: 2px;
	margin: 10px 5px 20px;
	border-radius:2px;
	text-decoration: none;
	color: black;
	display:inline-block;
	padding: 8px;
	background: #5287BD;
	border-radius: 2px;
	width: 220px;
	text-align: center;
	color: #fff;
}

.block-keywords .keyword:hover {
	text-decoration: none;
	background-color: #FF7878;
}

.block-keywords .keyword .fa-external-link-square {
	color: #fff;
}

.current {
	width: 100px;
	margin: 10px auto;
	padding: 0px 0px 10px;
}

.tbl-connections{
	margin:auto;
}

.tbl-connections  a {
	color:#484848 !important;
	display:inline-block;
	width:100%;
	height:100%;
}


.tbl-connections td:hover{
	background-color:#EBEBEB;
}

.tbl-connections .connection{
	margin:10px 15px;
	text-align:center;
	font-size: 1.2em;
}

.tbl-connections img{
	width:25px;
}

.email{
	border-right:1px solid #909090;
	border-left:1px solid #909090;
	padding:0px 20px;
}

.email img{
	width:50px;
}

.connection-xs img{
	width:25px;
}

.block-connections .xs .connection-xs{
	margin:1px auto;
	width:230px;
}

.block-connections .xs span.inb{
	width:50px;
}

.block-connections .xs a{
	display:inline-block;
	width:100%;
	padding:10px 5px;
	background-color:#F7F7F7;
}

.block-connections .xs a:hover{
	background-color: #55D49C;
	color: white;
	text-decoration: none;
}

.block-qualitifaction{
	margin:10px auto;
	width:300px;
	font-size:1.2em;
	color: #4C4C4C;
	border-top: 1px solid #dadada;
	padding: 5px 0px;
	letter-spacing: 1px;
}

.block-keywords {
	border-top: 1px solid #dadada;
	margin-top: 20px;
}

.articles {
	margin: auto;
}

.articles td.title {
	text-align: left;
	padding-top: 20px;
	font-size: 20px;
	font-family: Roboto;
	font-style: italic;
}

.articles td.date {
	text-align: right;
	padding-right: 30px;
    color: #777;
    font-size: 20px;
    font-style: italic;
    padding-top: 20px;
}