.introduction{
	font-size:500%;
}

.tagline{
	font-size:400%;
	color:#8982B4;
}

.block-keywords .block-title {
	color: #a0a0a0;
}

.tbl-keywords{
	margin:auto;
	border-bottom:1px solid #d0d0d0;
}

.tbl-keywords .keyword {
	letter-spacing: 2px;
	margin: 10px 5px 20px;
	border-radius:2px;
	text-decoration: none;
	color: black;
	display:inline-block;
	padding: 8px;
	background: #4AA3D1;
	border-radius: 2px;
	width: 220px;
	text-align: center;
	color: #fff;
}

.tbl-keywords .keyword:hover {
	text-decoration: none;
	background-color: #FF7878;
}

.tbl-keywords .keyword .fa-external-link-square {
	color: #fff;
}

.current {
	width: 100px;
	margin: 10px auto;
	padding: 0px 0px 10px;
}

.tbl-connections{
	margin:auto;
}

.tbl-connections  a{
	text-decoration:underline;
	color:black !important;
	display:inline-block;
	width:100%;
	height:100%;
}


.tbl-connections td:hover{
	background-color:#EBEBEB;
}

.tbl-connections .connection{
	margin:10px 15px;
	text-align:center;
}

.tbl-connections img{
	width:25px;
}

.email{
	border-right:1px solid #909090;
	border-left:1px solid #909090;
	padding:0px 20px;
}

.email img{
	width:50px;
}

.connection-xs img{
	width:25px;
}

.block-connections .xs .connection-xs{
	margin:1px auto;
	width:230px;
}

.block-connections .xs span.inb{
	width:50px;
}

.block-connections .xs a{
	display:inline-block;
	width:100%;
	padding:10px 5px;
	background-color:#F7F7F7;
}

.block-connections .xs a:hover{
	background-color: #55D49C;
	color: white;
	text-decoration: none;
}

.block-qualitifaction{
	margin:10px auto;
	width:300px;
	font-size:1.2em;
	color: #4C4C4C;
	border-top: 1px solid #dadada;
	padding: 5px 0px;
	letter-spacing: 1px;
}

.block-keywords {
	border-top: 1px solid #dadada;
}
