.project{
    border-bottom: 1px solid #5B69C9;
}

.project-title{
    /* border-bottom:1px solid #eaeaea; */
    font-size:3em;
    padding:20px 0px !important;
}

.project-info{
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #eaeaea;
    border-color: #CACACA;
}

.project-details{
    padding-bottom:15px;
}

.project-details  .heading{
    border-bottom:1px solid #dadada;
    border-left:1px solid transparent;
    background:#eaeaea;
    padding:5px;
    font-weight:bold;
}

.heading, .description{
    padding:5px;
    font-size:1.2em;
    list-style-position: inside;
}

.project-title {
    color: rgb(64, 133, 139);
}

.report {
    border: none;
    background-color: #5287BD;
    letter-spacing: 1px;
}

.report:hover {
    background-color: #FF7878;
}
