$color-primary: lightblue;

$space-x3sm: .35rem;
$space-x2sm: .5rem;
$space-xsm: .65rem;
$space-sm: .875rem;
$space-md: 1rem;
$space-lg: 1.25rem;

.oz {
  .p--xsm { padding: $space-xsm; }
  .p--sm { padding: $space-sm; }
  .p--md { padding: $space-md; }
  .p--lg { padding: $space-lg; }

  // padding - horizontal
  .px--xsm { padding-left: $space-xsm; padding-right: $space-xsm; }
  .px--sm { padding-left: $space-sm; padding-right: $space-sm; }
  .px--md { padding-left: $space-md; padding-right: $space-md; }
  .px--lg { padding-left: $space-lg; padding-right: $space-lg; }

  // padding - top
  .pt--x3sm { padding-top: $space-x3sm; }
  .pt--x2sm { padding-top: $space-x2sm; }
  .pt--xsm { padding-top: $space-xsm; }
  .pt--sm { padding-top: $space-sm; }
  .pt--md { padding-top: $space-md; }
  .pt--lg { padding-top: $space-lg; }

  .td--lt { text-decoration: line-through; }
  .td--n { text-decoration: none; }
  .td--o { text-decoration: overline; }
  .td--u { text-decoration: underline; }

  .list--n { list-style-type: none; }

  .d--n { display: none; }
  .d--b { display: block; }
  .d--f { display: flex; }
  .d--if { display: inline-flex; }
  .d--i { display: inline; }
  .d--ib { display: inline-block; }
  .d--tb { display: table; }
  .d--tbr { display: table-row; }
  .d--tbc { display: table-cell; }
  .d--li { display: list-item; }
  .d--ri { display: run-in; }
  .d--cp { display: compact; }
  .d--itb { display: inline-table; }
  .d--tbcl { display: table-column; }
  .d--tbclg { display: table-column-group; }
  .d--tbhg { display: table-header-group; }
  .d--tbfg { display: table-footer-group; }
  .d--tbrg { display: table-row-group; }

  .mt--md { margin-top: $space-md; }
}

// Start---- Sticky Footer ----
.oz-sticky-footer-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.oz-sticky-footer-children {
  flex: 1;
}
// End ---- Sticky Footer ----