$color-primary: lightblue;

$space-x3sm: .35rem;
$space-x2sm: .5rem;
$space-xsm: .65rem;
$space-sm: .875rem;
$space-md: 1rem;
$space-lg: 1.25rem;

.oz {
  .p--xsm { padding: spacing-xsm; }
  .p--sm { padding: spacing-sm; }
  .p--md { padding: spacing-md; }
  .p--lg { padding: spacing-lg; }

  // padding - horizontal
  .px--xsm { padding-left: spacing-xsm; padding-right: spacing-xsm; }
  .px--sm { padding-left: spacing-sm; padding-right: spacing-sm; }
  .px--md { padding-left: spacing-md; padding-right: spacing-md; }
  .px--lg { padding-left: spacing-lg; padding-right: spacing-lg; }

  // padding - top
  .pt--x3sm { padding-top: spacing-x3sm; }
  .pt--x2sm { padding-top: spacing-x2sm; }
  .pt--xsm { padding-top: spacing-xsm; }
  .pt--sm { padding-top: spacing-sm; }
  .pt--md { padding-top: spacing-md; }
  .pt--lg { padding-top: spacing-lg; }
}